.topbar{

width:100%;
height:80px;
min-height: 80px;

display:flex;

align-items:center;

justify-content:space-between;


padding:0 35px;


border-bottom:

1px solid rgba(255,255,255,.06);


background:

rgba(5,8,22,.7);


}



.topbar-title h2{


color:var(--text-main);

font-size:22px;


margin:0;


}



.topbar-title p{


color:var(--text-muted);

font-size:13px;


margin-top:5px;


}




.topbar-actions{


display:flex;

align-items:center;

gap:25px;


}



.notification{


width:42px;

height:42px;


display:flex;

align-items:center;

justify-content:center;


border-radius:12px;


border:1px solid rgba(255,255,255,.08);


background:

rgba(255,255,255,.04);


color:white;


cursor:pointer;


}



.profile{


display:flex;

align-items:center;

gap:10px;


color:white;


}



.profile svg{


color:var(--primary-cyan);


}



.profile h4{


margin:0;

font-size:14px;


}



.profile span{


color:var(--text-muted);

font-size:12px;


}