.strength-box{

margin-top:-12px;

margin-bottom:20px;

}


.strength-bars{

display:flex;

gap:6px;

}



.strength-bars span{

height:5px;

flex:1;

background:#1E293B;

border-radius:10px;

transition:.3s;

}



.strength-bars span.active.strength-1{

background:#EF4444;

}



.strength-bars span.active.strength-2{

background:#F59E0B;

}



.strength-bars span.active.strength-3{

background:#22C55E;

}



.strength-bars span.active.strength-4{

background:#06B6D4;

}



.strength-box p{

font-size:12px;

color:#94A3B8;

margin-top:8px;

}



.strength-box strong{

margin-left:5px;

color:#22D3EE;

}